.page-link:hover{
   background-color:rgb(234, 118, 180);
   
}
.page-item a{
    color:rgb(234, 118, 180)
 }
.page-item a:hover{
   color:white
}
#home{
   width:100%;
   height:700px;
   color:white;
   background: url('../img/aboutback.jpg');
   background-size: cover;
   background-repeat:no-repeat;
}