@media (max-width:1024px){
  
  
   
}
@media (max-width:991px){
      .top-banner1{
        display: none;
      }
      .navigation{
        background:transparent;
        --bs-gutter-x: 0;
        --bs-gutter-y: 0;
        width: 100%;
        position: relative;
        top: 0;
        padding: 0;
        /* border-top:1px solid white; */
      }
      .navbar{
       display: flex;
      flex-wrap: wrap;
       -webkit-box-align: center;
     justify-content: space-between;
        /* padding: 0.5rem 1rem; */
      }
     
       .col-md-6 {
        padding-top:80px;
        width:50%;
      }
      #home{
        width:100%;
        height:700px;
        color:white;
        background: url('../img/tab.jpg');
        background-size: cover;
        /* border: 2px solid yellow; */
    }
      #home .welcome{
        font-size:15px;
        font-family: 'Marck Script', cursive;
    }
    #home .heading{
        font-size:32px;
    }
    #home .info{
        font-size:14px;
    }
    .cradhead span{
      font-size:13px;
      color: black;
      font-variant: 400px;
  }
  .boxvedio{
    height:90px;
    width: 90px;
    background-image: url("../img/yoga1.jpg");
    background-size: cover;
    cursor: pointer;
}
.aboutdetails .col-7{
    font-size: 14px;
}
.aboutsection .div1{
  height: 100px;
  width: 110px;
  border-radius: 100px;
  border: 2px solid rgb(221, 119, 173) ;
  background-color: rgb(249, 232, 244);
}

    
}
@media (max-width:767px){
    .col-md-6 {
        padding-top:10px;
        width:100%;
      }
      #home{
        width:100%;
        height:700px;
        color:white;
        background: url('../img/mobile1.jpg');
        background-size: cover;
        /* border: 2px solid yellow; */
    }
      #home .welcome{
        font-size:15px;
        font-family: 'Marck Script', cursive;
    }
    #home .heading{
        font-size:28px;
    }
    #home .info{
        font-size:14px;
    }
    .cradhead span{
      font-size:18px;
  }
  .imgyoga{
    margin: 0;
    width:180px;
    height: 400px;
  }
  .aboutsection .div1{
    height: 100px;
    width: 100px;
    border-radius: 100px;
    border: 2px solid rgb(221, 119, 173) ;
    background-color: rgb(249, 232, 244);
}
.aboutsection .box2{
height:200px;
margin-top:3px;
}
.aboutsection .div2 .h5{
  font-size:16px;
  margin: 0;
  width:120px;
}
.aboutsection .div2 p{
  font-size:11px;
 margin: 0;
}
  
  
}
@media (max-width:350px){

}