@media (max-width:1024px){
  .carosalpage{
    padding: 25px;
  }
  .tablerow {
    width:400px !important;
    width: 100%;
    background: #fff;
}
   
}
@media (max-width:991px){
      .top-banner1{
        display: none;
      }
      .navigation{
        background:transparent;
        --bs-gutter-x: 0;
        --bs-gutter-y: 0;
        width: 100%;
        position: relative;
        top: 0;
        padding: 0;
        /* border-top:1px solid white; */
      }
      .navbar{
       display: flex;
      flex-wrap: wrap;
       -webkit-box-align: center;
     justify-content: space-between;
        /* padding: 0.5rem 1rem; */
      }
     
       .col-md-6 {
        padding-top:80px;
        width:50%;
      }
      #home{
        width:100%;
        height:700px;
        color:white;
        background: url('../img/tab.jpg');
        background-size: cover;
        /* border: 2px solid yellow; */
    }
      #home .welcome{
        font-size:15px;
        font-family: 'Marck Script', cursive;
    }
    #home .heading{
        font-size:32px;
    }
    #home .info{
        font-size:14px;
    }
    .cradhead span{
      font-size:13px;
      color: black;
      font-variant: 400px;
  }
  .boxvedio{
    height:90px;
    width: 90px;
    background-image: url("../img/yoga1.jpg");
    background-size: cover;
    cursor: pointer;
}
.aboutdetails .col-7{
    font-size: 14px;
}
.aboutsection .div1{
  height: 100px;
  width: 110px;
  border-radius: 100px;
  border: 2px solid rgb(221, 119, 173) ;
  background-color: rgb(249, 232, 244);
}
.flowdetail{
  margin-top: 400px;
}
.flowdetail .d-flex{
  padding-top: 0px;
  padding-bottom: 0px;
}
.trainelecture{
  height:90px;
  width: 150px;
  border-radius: 25px;
  background-color: rgb(234, 118, 180);
  position: absolute;
  top:240px;
  margin-left:30px;
}
.tablerow {
  /* width: !important; */
  width: 100%;
  background: #fff;
}
.table thead th {
  width: 60px;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size:12px;
  color: #141b25;
  font-weight:400;
  text-transform: uppercase;
}
.table tbody td {
  width: 60px;
  padding-top: 20px;
  font-size: 14px;
  background: #fff;
  vertical-align: middle;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

}
@media (max-width:767px){
    .col-md-6 {
        padding-top:10px;
        width:100%;
      }
      #home{
        width:100%;
        height:700px;
        color:white;
        background: url('../img/mobile1.jpg');
        background-size: cover;
        /* border: 2px solid yellow; */
    }
      #home .welcome{
        font-size:15px;
        font-family: 'Marck Script', cursive;
    }
    #home .heading{
        font-size:28px;
    }
    #home .info{
        font-size:14px;
    }
    .cradhead span{
      font-size:18px;
  }
  .imgyoga{
    margin: 0;
    width:180px;
    height: 400px;
  }
  .aboutsection .div1{
    height: 100px;
    width: 100px;
    border-radius: 100px;
    border: 2px solid rgb(221, 119, 173) ;
    background-color: rgb(249, 232, 244);
}
.aboutsection .box2{
height:200px;
margin-top:3px;
}
.aboutsection .div2 .h5{
  font-size:16px;
  margin: 0;
  width:120px;
}
.aboutsection .div2 p{
  font-size:11px;
 margin: 0;
}
.flowdetail .d-flex{
 margin:10px;  
}
.trainelecture{
  height: 90px;
  width: 200px;
  border-radius: 25px;
  background-color: rgb(234, 118, 180);
  position: absolute;
  top:240px;
  margin-left:40px;
}
.trainer{
  height:2870px;
  width: 100%;
  display: block;
}
.imgdflex{
  height: 70px;
  width: 70px;
  border-radius: 100px;
  background-color: rgb(239, 239, 239);
}
.infodflex p{
  font-size:11px;
}  
.tablerow {
  width: 1000px !important;
  width: 100%;
  background: #fff;
}


}
@media (max-width:350px){

}